.btn{

	padding: 0.12rem 1.35rem;
}
.form-group{
	margin-top:0.3rem;
	margin-left:0.3rem;
	
}

.btn-danger.disabled{
cursor:no-drop; 
color:silver;
}


div.time-slots-control h2 {
	margin-top: 0.3rem;
	margin-left: 0.3rem;

}

div.time-slots-control  div.buttons {
	clear:left;
}

div.time-slots-control  div.time-slots {
	
}
div.time-slots-control  div.time-slots  button.btn{
clear:none;
	float:left;
	margin-bottom:5px;
	margin-left:5px;
	width:135px;
	height:29.8333px;
}
