.btn{

	padding: 0.12rem 1.35rem;
}
.form-group{
	margin-top:0.3rem;
	margin-left:0.3rem;
	
}

.btn-danger.disabled{
cursor:no-drop; 
color:silver;
}


div.booking-time-control h2 {
	margin-top: 0.3rem;
	margin-left: 0.3rem;

}

div.booking-time-control  div.buttons {
	clear:left;
}

div.booking-time-control div.button-group div.buttons {
	clear:none;
	float:left;
	margin-bottom:5px;
	margin-left:5px;
}
div.booking-time-control div.button-group div.buttons form input{

	width:135px;
}
