div.paginator-control {
  display: flex;
  justify-content: center;
  margin-bottom: @margin-l;

  nav {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    border: @border-size @border-type @color-outline-secondary;
    border-radius: @border-radius;
    height: 2em;

    a {
      display: block;
      padding: @padding-s;
      text-decoration: none;
      color: @color-black;
    }

    a.enabled {
      cursor: pointer;
    }

    a.enabled:hover {
      background-color: @color-outline-secondary;
      color: @color-white;
    }

    div.previous-button, div.next-button {
      a.disabled {
        display: none;
      }

      a.enabled {
        display: block;
      }

    }

    div.middle {
      display: inherit;

      a.disabled {
        cursor: default;
      }
      a.active {
        background-color: @color-outline-secondary;
        color: @color-white;
      }

    }
  }

  nav.disabled {
    display: none;
  }

  nav.enabled {
    display: flex;
  }
  div.set-limit {
    select{
      background-color: @color-white;
      border: @border-size @border-type @color-outline-secondary;
      border-radius: @border-radius;
      width: 3em;
      height: 2.6em;
      margin-left: @margin;
    }
  }
}